body {
  font-family: 'Roboto', sans-serif;
  color: #3A314E;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
